.editBox {
    display: flex;
    width: 100vw;
    flex-direction: row;

}

.imgBox {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(248, 208, 31);
}

.imgBox>img {
    width: 40%;
    border-radius: 20px;
}

.leftBox {
    background-color: rgb(35, 15, 71);
    width: 15vw;
    padding: 10px;
    min-height: 95vh;
}

.rightBox {
    min-height: 95vh;
    background-color: rgb(15, 6, 32);
    color: azure;
    width: 85vw;
}

.btnBox {
    display: flex;
    flex-direction: column;

    margin-top: 55vh;
    align-items: center;
    justify-content: center;

}

.btnBox>button {
    width: 95%;
    font-weight: 900;
}

@media(max-width:786px) {
    editBox {
        display: flex;
        flex-direction: column;

    }

    .leftBox {
        width: 30vw;
    }

    img {
        width: 100%;
    }

    h2 {
        font-size: 15px;
    }
}